// #include <input/processors.dtsi>
// #include <dt-bindings/zmk/input_transform.h>
//
// &i2c0 {
//     status = "okay";
//     sda-pin = <4>;
//     scl-pin = <5>;
//     
//     az1uball: az1uball@0x0a {
//         compatible = "az1uball";
//         reg = <0x0a>;
//     };
// };
&i2c0 {
    status = "okay";
    sda-pin = <4>;  // P0.04
    scl-pin = <5>;  // P0.05

    az1uball: az1uball@0x0a {
        compatible = "az1uball";  // ドライバが "az1uball" を認識するcompatible名
        reg = <0x0a>;             // I2Cアドレス (0x0aが多い)
    };
};
